In [1]:
#importing the necessary modules
import numpy as np #for linear algebra
import pandas as pd #for data processing

ModuleNotFoundError: No module named 'pandas'

In [2]:
#loading the data
df = pd.read_csv("C:/Users/ameen/Downloads/archive (2)/Uncleaned_DS_jobs.csv")

In [3]:
#getting a glimpse of the data
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [4]:
#getting info about our dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

In [5]:
df.shape

(672, 15)

In [6]:
#First lets remove the index column

df.drop('index', axis = 1, inplace = True)

In [7]:
#modifying the salary column and creating a new column with average salaries

df['Salary Estimate'] = df['Salary Estimate'].map(lambda x: x.split('(')[0])
df['Salary Estimate'] = df['Salary Estimate'].str.replace("K","")

def a(x):
    x = x.split('-')
    min_salary = int(x[0].strip('$'))
    max_salary = int(x[1].strip('$'))
    average_salary = int((min_salary+max_salary)/2)
    return average_salary

df['Average salary'] = df['Salary Estimate'].apply(a)

#modifying the name of the column 'Salary Estimate'
df = df.rename(columns={'Salary Estimate': 'Salary Estimate (in thousands)'})

In [9]:
# replacing the negative digits with zeroes in ratings column
df['Rating'] = df['Rating'].replace(-1.0,0)

In [10]:
#Cleaning company name column
df['Company Name'] = df['Company Name'].map(lambda x: x.split('\n')[0])

In [11]:
# modifying the 'size' column for efficiency of space
df['Size'] = df['Size'].str.replace('employees','')

#renaming the column name
df = df.rename(columns={'Size': 'Size (Number of employees)'})

In [13]:
#replacing all the '-1' values in the data frame with 'na'
categorical_cols = ['Job Title', 'Salary Estimate (in thousands)', 'Job Description', 'Company Name', 'Location', 'Headquarters', 'Size (Number of employees)', 'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors']

df[categorical_cols] = df[categorical_cols].replace('-1', 'na')
df[categorical_cols] = df[categorical_cols].replace('Unknown', 'na')

df['Rating'] = df['Rating'].replace(-1., 0)
df['Founded'] = df['Founded'].replace(-1, 0)

In [ ]:
"""
The description column contains information about the skills which the interviewer is looking for
in their candidates / companies are looking for in their employees

We can create a bunch of columns for different skills contianing values ones and zeroes 
indicating the skill is required or not 
"""
df['python'] = df['Job Description'].map(lambda x: 1 if 'python' in x.lower() else 0)
df['hadoop'] = df['Job Description'].map(lambda x: 1 if 'hadoop' in x.lower() else 0)
df['excel'] = df['Job Description'].map(lambda x: 1 if 'excel' in x.lower() else 0)
df['aws'] = df['Job Description'].map(lambda x: 1 if 'aws' in x.lower() else 0)
df['tableau'] = df['Job Description'].map(lambda x: 1 if 'tableau' in x.lower() else 0)
df['powerBI'] = df['Job Description'].map(lambda x: 1 if 'powerbi' in x.lower() else 0)

In [15]:
df[:5]

,Job Title,Salary Estimate (in thousands),Job Description,Rating,Company Name,Location,Headquarters,Size (Number of employees),Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Average salary
0,Sr Data Scientist,$137-$171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",154
1,Data Scientist,$137-$171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),na,154
2,Data Scientist,$137-$171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),na,154
3,Data Scientist,$137-$171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",154
4,Data Scientist,$137-$171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",154

In [16]:
#saving the data into a csv file

df.to_csv('DS_Jobs_cleaned.csv', index=False)